body{
    background-color: blueviolet;

}


h1{
    font-family: cursive;
    
}





.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: aquamarine;
    display:flex;
    position: relative;
  }